@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@font-face {
    font-family: KubboFont;
    src: url(./assets/fonts/Gilroy-Light.otf)
}
@font-face {
    font-family: KubboFontBold;
    src: url(./assets/fonts/Gilroy-ExtraBold.otf)
}

:root {
    --dark-color: #313d72;
    --primary-color: #6E5EF8;
    --secondary-color: #5CA6FA;
    --action-color: #ea61ae;
    --delete-color: #b70d00;

    --dark-color-transparent: #313d7280;
    --transparent-shadow-light: #00000010;
    --transparent-shadow-medium: #00000020;
    --transparent-shadow-dark: #00000080;
    
    --background: linear-gradient(140deg, rgb(115, 83, 244) 0%, rgb(255, 102, 173) 100%);
    --box-shadow-light: 2px 2px 15px var(--transparent-shadow-light);
    --box-shadow-medium: 2px 2px 15px var(--transparent-shadow-medium);
    --box-shadow-dark: 2px 2px 15px var(--transparent-shadow-dark);

    --header-height: 85px;
    --header-height-small: 65px;

    --max-width: 1200px;
    --padding: 1.5rem;
}
*:not(mat-icon) {
    font-family: KubboFont, Georgia, 'Times New Roman', Times, serif !important;
}

html,body {
    height: 100vh;
    width: 100%;
    padding: 0;
    overflow: hidden;
    top:0 !important;
}
body {    
    background: var(--background);
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: scroll;
}

strong {
    font-family: KubboFontBold, Georgia, 'Times New Roman', Times, serif;
}

.btn {
    background-color: var(--dark-color);
    margin-bottom: 10px;
    color: white;
    border: 1px solid var(--dark-color);
}
.btn mat-icon{
    font-size: 12px;
    height: 12px;
    width: 12px;
}
.btn:hover {
    color: white;
    background-color: var(--dark-color-transparent);
}

.route {
    margin: 0 auto;
    max-width: var(--max-width);
    padding: var(--padding);
}


/* Fix styles*/
mat-cell:first-of-type, mat-header-cell:first-of-type, mat-footer-cell:first-of-type {
    padding-left: 24px !important;
}
mat-cell:last-of-type, mat-header-cell:last-of-type, mat-footer-cell:last-of-type {
    padding-right: 24px !important;
}
.mat-sort-header-container {
    position: relative;
}
.mat-sort-header-arrow{
    position: absolute !important;
    right:-20px;
}
.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb{
    background-color: var(--dark-color) !important;    
}
.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: var(--dark-color-transparent) !important;    
}
:focus{
    outline: none !important;
}
.mat-form-field.mat-focused .mat-form-field-label {
    color: var(--dark-color);
}
.mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: var(--dark-color);
}