product-details{
    position: absolute;    
    width: calc(100% - var(--padding) - var(--padding));
    max-width: calc(var(--max-width) - var(--padding) - var(--padding));
    z-index: 999;    
}
product-details.hidden {
    z-index: -1;
}