h1 {
    text-align: center;
    background: var(--dark-color);
    padding: 10px 0;
    color: white;
    border-radius: 5px;
}

mat-form-field {
    display: block;
    margin-bottom: 15px;
}

mat-dialog-actions {
    float: right;
    margin-bottom: 0;
}
mat-dialog-actions button {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 5px 0;
    width: 100px;
}
mat-dialog-actions button:first-child {
    margin-right: 15px;
}
mat-dialog-actions button:last-child {
    background-color: var(--dark-color);
    color: white;
    border-color: var(--dark-color);
}

mat-label.image-label,
mat-label.enabled-label {
    font-size: 12px;
    color: rgba(0,0,0,.54);
    display: block;
    margin-bottom: 5px;
}
#image-input {
    display: none;
}
img{
    cursor: pointer;
    width: 200px;
    object-fit: contain;
    max-width: 100%;
    border-radius: 5px;
    height: 200px;
    margin-bottom: 15px;
}
img:hover {
    box-shadow: var(--box-shadow-medium);
}
mat-icon.delete{
    color: #666;
    cursor: pointer;
}
mat-icon.delete:hover{
    color: var(--delete-color);
}