<div id="product-details" [ngClass]="{'hidden': hidden}" *ngIf="!!product">
    <div class="product">
        <div class="product-img"><img [src]="product.image"></div>
        <div class="product-data">
            <p class="name"><strong>{{product.name}}</strong></p>
            <div class="actions"><mat-icon class="edit" (click)="editProduct(product)">edit</mat-icon><mat-icon class="delete" (click)="deleteProduct(product)">delete_outline</mat-icon></div>
            <p><span>SKU:</span> {{product.sku}}</p>
            <p><span>BARCODE:</span> {{product.barcode}}</p>
            <mat-slide-toggle labelPosition="before" [checked]="product.enabled" (change)="enableProduct($event,product)"><span>ENABLED: </span></mat-slide-toggle> 
            <p class="price">{{product.price | price}}</p>
        </div>
    </div>
    <stocks-table [stocks]="stocks" (create)="addStock()" (edit)="editStock($event)" (delete)="deleteStock($event)"></stocks-table>
</div>