#product-details {
    border-radius: .25rem;
    background-color: white;
    box-shadow: var(--box-shadow-dark);    
    overflow: hidden;
    overflow-y: scroll;
    height: calc(100vh - var(--header-height) - var(--padding) - var(--padding));
    padding: var(--padding);
    width: 100%;
    transition: width 0s, transform 1s, padding 0s, filter 0s;
}
#product-details.hidden {
    transform: translate(+100vw, 0px);
    max-height: 100vh;
    width: 0;
    padding: var(--padding) 0;
    filter: opacity(0);
    transition: width 1s, transform 1s, padding 1s, filter 1s;
}

.product {
    display: flex;
    place-content: space-between;
}
.product .product-img {
    flex: 0 0 28%;
    padding: 15px;
    border-radius: 5px;
    box-shadow: var(--box-shadow-medium);
    max-height: 300px;
}
.product .product-img img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.product .product-data {
    flex: 0 0 68%;
    overflow: hidden;
    box-shadow: var(--box-shadow-medium);
    border-radius: 5px;
}
.product .product-data > * {
    margin-left: 15px;
    margin-right: 15px;
}
.product .product-data .name {
    font-size: 32px;
    margin: 0;
    margin-bottom: 15px;
    padding: 10px 15px;
    background-color: var(--dark-color);
    color: white;
}
.product .product-data span {
    font-size: 12px;
}
.product .product-data .price {
    font-size: 24px;
    margin-top: 50px;
    border-radius: 15px;
    border: 1px solid var(--action-color);
    padding: 5px 10px;
    float: right;
}

.product .actions{
    float: right;
}
.product .actions mat-icon {
    margin: 0 5px;
    color: #666;
    cursor: pointer;
}
.product .actions mat-icon.edit:hover {
    color: var(--dark-color);
}
.product .actions mat-icon.delete:hover {
    color: var(--delete-color);
}