mat-table {
    border: 1px solid var(--dark-color);
    border-radius: .25rem;
    overflow: hidden;
}

mat-header-row {
    color: white;
    background-color: var(--dark-color);
}

mat-cell,
mat-header-cell {
    justify-content: center;
}
mat-header-cell {
    text-transform: uppercase;
}

mat-row:last-child {
    border-bottom: none;
}
mat-row:hover{
    background-color: var(--transparent-shadow-medium);
}

mat-row {
    padding: 15px 0;
}

.mat-column-image {
    flex: 0 0 10%;
}
.mat-column-name,
.mat-column-price {
    flex: 0 0 30%;
}
.mat-column-sku,
.mat-column-barcode {
    flex: 0 0 15%;
}

mat-cell.mat-column-name{
    font-size: 22px;
}

img {
    height: 100%;
    max-height: 80px;
    max-width: 100%;
    object-fit: contain;
    margin-right: 15px;
}