<div class="btn-container" [ngClass]="{'hidden': hidden}">
  <button (click)="createProduct()" class="btn"><mat-icon>add</mat-icon> New product</button>
</div>
<mat-table [dataSource]='productsDataSource' matSort (matSortChange)="sortData($event)" [ngClass]="{'hidden': hidden}">

    <ng-container matColumnDef="image">
      <mat-header-cell *matHeaderCellDef> Image </mat-header-cell>
      <mat-cell *matCellDef="let product"><img *ngIf="!!product.image" src="{{product.image | image}}"/></mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
      <mat-cell *matCellDef="let product"><strong>{{product.name}}</strong></mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="sku">
      <mat-header-cell *matHeaderCellDef mat-sort-header> SKU </mat-header-cell>
      <mat-cell *matCellDef="let product"> {{product.sku}} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="barcode">
      <mat-header-cell *matHeaderCellDef mat-sort-header> BarCode </mat-header-cell>
      <mat-cell *matCellDef="let product"> {{product.barcode}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Price </mat-header-cell>
      <mat-cell *matCellDef="let product"> <span>{{product.price | price}}</span> </mat-cell>
    </ng-container>

    <ng-container matColumnDef="enabled">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Enabled </mat-header-cell>
      <mat-cell *matCellDef="let product"> <mat-slide-toggle (click)="stopPropagation($event)" (change)="enableProduct($event,product)" [checked]="product.enabled"></mat-slide-toggle> </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
      <mat-cell *matCellDef="let product"> <mat-icon class="edit" (click)="editProduct($event,product)">edit</mat-icon><mat-icon class="delete" (click)="deleteProduct($event,product)">delete_outline</mat-icon> </mat-cell>
    </ng-container>
  
    <!-- Header and Row Declarations -->
    <mat-header-row *matHeaderRowDef="productColumns"></mat-header-row>
    <mat-row *matRowDef="let product; columns: productColumns" (click)="seeProduct(product)"></mat-row>
    
</mat-table>